<main class='main'>
  <div class="wrap search-wrap">
    <div class="search-section">
      <input class='input search-input' type="text" placeholder="Search phrase...">
    </div>
  </div>
  <div class="wrap">
    <article class="article">
      <div class="article-icon-wrap">
        <img class='article-icon' src="https://via.placeholder.com/150" alt="Build some basic Angular App">
      </div>
      <div class="article-info-wrap">
        <h3 class='article-title'>
          <a href="">RESTful API Designing guidelines — The best practices</a>
        </h3>
        <time class='article-date-posting' datetime="2018-12-09">9 Dec 2018</time>
      </div>
    </article>
    <article class="article">
      <div class="article-icon-wrap">
        <img class='article-icon' src="https://via.placeholder.com/150" alt="Build some basic Angular App">
      </div>
      <div class="article-info-wrap">
        <h3 class='article-title'>Build some basic Angular App</h3>
        <time class='article-date-posting' datetime="2018-12-09">9 Dec 2018</time>
      </div>
    </article>
    <article class="article">
      <div class="article-icon-wrap">
        <img class='article-icon' src="https://via.placeholder.com/150" alt="Build some basic Angular App">
      </div>
      <div class="article-info-wrap">
        <h3 class='article-title'>Build some basic Angular App</h3>
        <time class='article-date-posting' datetime="2018-12-09">9 Dec 2018</time>
      </div>
    </article>
  </div>
</main>
