.search-input
  padding .5rem
  font-size 1.3em
  width 100%
  background-color rgba(0, 0, 0, .2)
  &::placeholder
    color white

.article-info
  margin-bottom 2rem
  .is-flex-row
    justify-content space-between
    flex-wrap wrap

.search-wrap
  padding 2rem
