.l-header
  background-color var(--darken)

.logo-instance
  min-width 3rem

.top-menu
  padding 1rem 0

.top-menu
  display flex
  justify-content space-between
  align-items center

.menu-list,
.social-list
  display flex

  li:not(:last-child)
    margin-right 1rem

.link-list
  display flex
  li:not(:last-child)
    margin-right 1rem
