<header class='l-header'>
  <div class="wrap top-menu">
    <div class="logo-section">
      <a href="/">
        <img class='logo-instance' src="assets/logo.svg" alt="stylesam logotype">
      </a>
    </div>

    <div class="links-list-wrap">
      <ul class="link-list">
        <li>
          <a href="http://t.me/stylesam">
            <i class='icon icon-telegram'></i>
          </a>
        </li>
        <li>
          <a href="http://github.com/stylesam">
            <i class='icon icon-github'></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/_stylesam">
            <i class='icon icon-twitter'></i>
          </a>
        </li>
        <li>
          <a href="https://vk.com/stylesams">
            <i class='icon icon-vk'></i>
          </a>
        </li>
        <li>
          <a href="https://patreon.com/stylesam" class='is-donate-link'>
            <i class='icon icon-donate'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
