<main class='l-main'>
  <div class="home-greeting">
    <div class="wrap is-flex-row">
      <h1>Sam`s Blog</h1>
    </div>
  </div>
  <div class="wrap is-article-wrap">
    <p>Привет я Сэм. Я Фронтенд разработчик и Веб-Алхимик (люблю эксперементировать с новым в вебе,
      думаю все разработчики алхимики XD) из Краснодара.</p>

    <p>Время от времени я пишу в этот блог. Я интересуюсь <strong>всем</strong>, особенно адаптивностью, доступностью,
      UX и UI и так до бесконечности. Если у вас есть какие-нибудь идеи по улучшению этого сайта, то пишите мне в
      телеграм <a href="https://t.me/stylesam">@stylesam</a> или туда кудам вам будет удобно. Если вам нравится то что
      я делаю, то вы можете <a href="https://patreon.com/stylesam">поддержать</a> меня.</p>

    <p>
      <em>Давайте улучшать Веб вместе</em>
    </p>

    <p class='is-text-center'>
      <button type='button' class='button button-primary is-button-full'>Подписаться на Push-уведомления</button>
    </p>

    <ul class='other-links-list'>
      <li>Version: <code>0.0.1</code></li>
      <li>
        <a href="https://github.com/stylesam/acedia-blog">Исходный код</a>
      </li>
      <li>
        <a href="https://stylesam.com">Посетить stylesam.com</a>
      </li>
    </ul>
  </div>
</main>
