<footer class='l-footer'>
  <div class="wrap footer-row">
    <ul class='footer-menu-list'>
      <li class='footer-menu-list-item  is-item-active'>
        <a routerLink="/articles" routerLinkActive="active" class="footer-menu-list-link">
          <i class="icon icon-doc" aria-hidden="true"></i>
        </a>
      </li>
      <li class='footer-menu-list-item'>
        <a routerLink="/" routerLinkActive="active" class="footer-menu-list-link">
          <i class="icon icon-home" aria-hidden="true"></i>
        </a>
      </li>
      <li class='footer-menu-list-item'>
        <a routerLink="/downloads" routerLinkActive="active" class="footer-menu-list-link">
          <i class="icon icon-download" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
